@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color:aliceblue;
    background-image: url("backimg.png");

}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:"Ubuntu", sans-serif;

}

nav ul{
    display:flex;
    list-style-type: none;
    height:60px;
    background-color:black;
    color: antiquewhite;
    align-items: center;
}

.brand img{
    width:44px;
    padding:0px 5px 0px 0px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size:large;
}
.Signup{
    margin-left:40%;
}
.login{
    border-radius: 20px;
    padding:0px 0px 0px 50px;
}
nav ul li{
    padding:0px 15px 0px 30px;
}
.container{
    min-height:75vh;
    width:300px;
    background-color: black;
    color: white;
    display: flex;
    font-family: "Varela Round", sans-serif;
    display: flex;
    flex-direction: column;
}
.container #h4{
    margin-top: 20px;
}
.bottom{
    position:sticky;
    height:15vh;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
}
#myProgressBar{
    margin-top:20px;
    width:50vw;
    text-align: center;
    cursor: pointer;
}
.icons{
    padding:10px 0px 10px 0px;
}
.icons i{
    cursor: pointer;
    padding:0px 5px 0px 0px;
}
.Artists{
    display: flex;
    flex-direction: row;
    margin-left:250px;
}
.Artists span{
    padding:10px 10px 10px 0px;
}
.Artists img{
    padding: 0px 0px 0px 0px;
    border-radius: 100px;
    margin-top: 50px;
    width:100px;
    height:100px;
}
.Songlist{
    margin-left: 280px;
    display: flex;
    flex-direction: row;
    padding:0px 0px 20px 0px;
    font-size: medium;
}
.Songlist img{
    height:150px;
    border-radius:20px;
    padding:0px 20px 20px 20px;
}
.Songlist i, span{
    padding-left:5px;
    cursor: pointer;
}
.Artists{
    display: flex;
    flex-direction: row;
    margin-left:300px;
}
.Artists span{
    padding:10px 10px 10px 0px;
}
.Artists img{
    border-radius: 150px;
    margin-top: 50px;
    width:100px;
    height:100px;
}
.mp{
    margin-left: 300px;
    display: flex;
    flex-direction: row;
}
.mp i{
    padding-left:10px;
}
.menu{
    margin-top: 20px;
    margin-left:50px;
    display: flex;
    flex-direction: row;
}
.menu i{
    padding-left:10px;
}
.songInfo{
    position: absolute;
    left: 25vw;
}
.songInfo img{
    
    width:100px;
}